@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    padding: 0.5rem; 
    width: 2.3rem; 
    height: 2.3rem;
    margin-left: 5px;
    margin-right: 5px;
}

.buttons-div {
  display: flex;
  width: 387.92px; /* 387.92px */
  overflow: hidden;
  justify-content: flex-end;
}


.run-btn {
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 50%;
    /* border: none;
    outline: none; */
    /* color: #fff; */
    background: #a0f5a7;
    /* cursor: pointer; */
    z-index: 10;
    background-image: url('run3_img1.png');
    background-size: 50% 50%; 
    background-repeat: no-repeat;
    background-position: 60% center;

}

.run-btn:hover{
  background-color: #8bec94;
}


.cm-btn{
  background-color: #008080;
  color: #fafafa;
}

.cm-btn:hover{
  background-color: #089494;
  color: #fafafa;
}

.ud-btn{
    background-color: #008080;
    background-image: url('ud_img1.png');
    background-size: 50% 50%; 
    background-repeat: no-repeat;
    background-position: 50% center;

}
.ud-btn:hover{
    background-color: #089494;
 }
 
.rd-btn{
    background-color: #008080;
    background-image: url('rd_img1.png');
    background-size: 50% 50%; 
    background-repeat: no-repeat;
    background-position: 55% center;
}

.rd-btn:hover{
    background-color: #089494;
}

.cp-btn{
  background-color:  #008080;
  background-image: url('cp_img1.png');
  background-size: 50% 50%; 
  background-repeat: no-repeat;
  background-position: center;
}

.cp-btn:hover{
  background-color: #089494;
}

.rf-btn{
  background-color: #008080;
  background-image: url('rf_img1.png');
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-position: 55% center;
}

.rf-btn:hover{
  background-color: #089494;
}

.cr-btn{
  background-color: #008080;
  background-image: url('cr_img1.png');
  background-size: 50% 50%; 
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 0px;
}

.cr-btn:hover{
  background-color: #089494;
  color: #fafafa;
}


.tooltip {
  position: absolute;
}
.tooltip:before,
.tooltip:after {
  display: block;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  border-color: transparent transparent transparent transparent;
  font-weight: 600;
  margin-top:20px;

}

.tooltip:after {
  border-right: 6px solid transparent;
  border-bottom: 6px solid rgba(0,0,0,.75); 
  border-left: 6px solid transparent;
  content: '';
  border-color: transparent transparent transparent transparent;
  height: 0;
  top: 20px;
  left: 20px;
  width: 0;
 
}
.tooltip:before {
  background: rgba(0,0,0,.75);
  border-radius: 20px;
  content: attr(data-title);
  font-size: 14px;
  padding: 6px 10px;
  top: 26px;
  white-space: nowrap;
  background-color: #f1f7d7;
  color: black;
}


.tooltip.fade:after,
.tooltip.fade:before {
  transform: translate3d(0,-10px,0);
  transition: all .2s ease-in-out;

}
.tooltip.fade:hover:after,
.tooltip.fade:hover:before {
  opacity: 1;
  transform: translate3d(0,0,0);
opacity: 100%;
}

.fade:not(.show) {
  opacity: 1;
}


.h-75{
  height: 79%!important;
}

.i-o {
  background-color: #dfeaf1;
  border:none;
  font-family: "Source Code Pro", monospace; 
  font-size: 16px; 
  line-height: 1.2;
  resize: none; 
  overflow-x: hidden;
  overflow-y: scroll;

}
.i-o:focus{
  background-color: #ffffff;
  border-color: #1a5096; /* Border color */
  box-shadow: 0px 0px 0px 3px #1a5096;
}

.i-o::-webkit-scrollbar {
  width: 3px;
}

.i-o::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 3px;
}

.lang-div{
  max-width: 130px;
}


.lang-select {
  background-color: #6d6d6d;
  border: none;
  color: #fafafa;
  border-radius: 20px;
  width: 130px;
  height: 36.8px;
  position: absolute;
  transition: height 0.675s ease; 
  overflow: hidden; 
  /* overflow-y: scroll; */
  min-width: 80px;
  font-family: 'Manrope', sans-serif;
} 

@media screen and (max-width: 768px) {

  .lang-select {
    min-width: 80px; /* reset the min width for smaller screens */
    width: 100%; /* expand to full width on smaller screens */
  }
}

@keyframes langExpandSelect {
  0% {
    height: 36.8px; 
  }
  100% {
    height:290px; 
  }
}

.lang-select.expanding {
  animation: langExpandSelect 0.675s ease forwards;
  z-index: 51;
}

.lang-select:focus {
  width: 130px; 
  max-height: 300px; /* higher max height for expnsion on focus */
}

.lang-select option {
  background-color: #6d6d6d;
  color: #fafafa;
  padding: 3px 2px;
  transition: all 0.2s linear;
  border-radius: 20px;
}

.lang-select option:hover {
  background-color: #a0f5a7;
  color: black;
  border-radius: 20px;
  padding: 3px 4px;
  font-weight: 650;
}

.lang-select option:checked {
  border-radius: 8px;
}

.lang-select::-ms-expand {
  border-radius: 5px;
  width: 50px;
}

.lang-select::-webkit-scrollbar {
  width: 8px;
}

.lang-select::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

  .theme-div{

    min-width: 395px;
  }

  

  .theme-select {
    background-color: #6d6d6d;
    border: none;
    color: #fafafa;
    border-radius: 20px;
    width: 180px;
    height: 36.8px;
    position: absolute;
    transition: height 0.65s ease; 
    overflow: hidden; 
    overflow-y: scroll; 
    min-width: 80px;
    font-family: 'Manrope', sans-serif;
  }
  
  @media screen and (max-width:1002px) {
    .theme-div {
     min-width: 80px;
     max-width: 180px;
     width: 100%;
     position: absolute;
    }
    
    .theme-select {
      min-width: 80px; 
      width: 100%;
    }
  }

  @keyframes expandSelect {
    0% {
      height: 36.8px; 
    }
    100% {
      height: 290px; 
    }
  }
  
  .theme-select.expanding {
    animation: expandSelect 0.65s ease forwards;
    z-index: 51;
  }
  
  .theme-select:focus {
    width: 180px; 
    max-height: 290px; 
  }
  
  .theme-select option {
    background-color: #6d6d6d;
    color: #fafafa;
    padding: 3px 2px;
    transition: all 0.2s linear;
    border-radius: 20px;

  }
  
  .theme-select option:hover {
    background-color: #a0f5a7;
    color: black;
    border-radius: 20px;
    padding: 3px 4px;
    font-weight: 650;
  }
  
  .theme-select option:checked {
    border-radius: 8px;
  }
  
  .theme-select::-ms-expand {
    border-radius: 5px;
    width: 50px;
  }
  
  .theme-select::-webkit-scrollbar {
    width: 8px;
  }
  

  .theme-select::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #8b8b8b, #8b8b8b);
    border-radius: 4px;
  }


  video {
    width: 32px;
    height: 32px;
    display: none;
    padding: 0px 0px 5px 5px;
  }





